/*
0-600px:Phone;
600-900px: Tablet portrait
900-1200px: tablet landscape;
(1200-1800) is where our nomral style apply
1800 +:Big desktop

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-20rem); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(20rem); }
  80% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.2em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 35%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.2em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", san-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  back-face-visibility: hidden;
  /*prevent animation from shakening to top*/
  margin-bottom: 6rem;
  /*in order to make animation of scpecific item, we do give name to animation as moveInLeft*/
  /*0% specify the begining*/
  /*100% specify the end */
  /*translate(-200px) animation starts path from left (-200px) from actual position with trasnparent opacity 0*/
  /*translate(0) animation stops in the actual position of element"*/ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    /*placing animation in specific element*/
    animation-duration: 5s;
    /*animation-delay:3s;*/ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 5s; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-second {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: linear-gradient(to right, #00D841, #34b977);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .3s;
  letter-spacing: 2px; }
  @media (max-width: 56.2em) {
    .heading-second {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-second {
      font-size: 2.5rem; } }
  .heading-second:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.col-1-of-3 .card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .col-1-of-3 .card__side {
    background-color: orangered;
    height: 50rem;
    transition: all .8s ease;
    color: #000;
    height: 50rem;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden; }
    .col-1-of-3 .card__side__front {
      background-color: #fff; }
      .col-1-of-3 .card__side__front:hover {
        transform: rotateY(180deg); }
    .col-1-of-3 .card__side__back {
      background-color: green;
      transform: rotateY(180deg); }
      .col-1-of-3 .card__side__back:hover {
        transform: rotateY(0); }
  .col-1-of-3 .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .col-1-of-3 .card__picture--1 {
      background-image: linear-gradient(to right bottom, #d87e08, #ee7503), url(../img/nat-5.jpg); }
    .col-1-of-3 .card__picture--2 {
      background-image: linear-gradient(to right bottom, #00D841, #34b977), url(../img/nat-6.jpg); }
    .col-1-of-3 .card__picture--3 {
      background-image: linear-gradient(to right bottom, #343e92, #1207af), url(../img/nat-7.jpg); }
  .col-1-of-3 .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .col-1-of-3 .card__heading-span {
    padding: 1rem 1.5rem; }
    .col-1-of-3 .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(216, 126, 8, 0.85), rgba(238, 117, 3, 0.85)); }
    .col-1-of-3 .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 216, 65, 0.85), rgba(52, 185, 119, 0.85)); }
    .col-1-of-3 .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(52, 62, 146, 0.85), rgba(18, 7, 175, 0.85)); }
  .col-1-of-3 .card__details {
    padding: 2rem; }
    .col-1-of-3 .card__details ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto; }
      .col-1-of-3 .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .col-1-of-3 .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.4);
    /*"scale" increase the size of element "*" times than parent element*/
    opacity: 0; }

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn:after {
  /*second buttoon located behind the first button, thats how "after" work*/
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*this allows to place content behind the actual element"*/
  transition: all .4s; }

.btn--animated {
  animation-name: moveInBottom;
  animation-duration: 3s;
  animation-delay: .75s;
  /*"delay" after this period of time this  animation will apply after first animation*/
  animation-fill-mode: backwards;
  /*The element will get the style values that is set by the first keyframe (depends on animation-direction), and retain this during the animation-delay period*/ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #00D841;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #00D841;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #00D841;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    position: absolute;
    transition: all .3s;
    z-index: 10;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 2rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #00D841;
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    position: relative; }
  .story__image-1 {
    width: 100%;
    transform: translateY(-20%) scale(1.1);
    transition: all .5s; }
  .story__image-2 {
    height: 100%;
    transform: scale(1.1);
    transition: all .5s; }
  .story__podcast {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image-1 {
    transform: translateY(-20%) scale(1);
    filter: blur(1.5px) brightness(90%); }
  .story:hover .story__image-2 {
    transform: scale(1);
    filter: blur(1.5px) brightness(80%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.2em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.2em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^="col-"] {
    float: left; }
    @media (max-width: 56.2em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.2em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 6rem)/4) + 2*6rem); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    color: transparent;
    background: linear-gradient(to right, #00D841, #34b977);
    -webkit-background-clip: text;
    display: inline-block; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__text {
    text-align: justify; }

.header {
  height: 95vh;
  /*95vh unit allow to take 95 % of view port and leaving 5% empty space in bottom*/
  background-image: linear-gradient(to right, rgba(0, 216, 65, 0.8), rgba(123, 40, 232, 0.8)), url(https://dx-world.net/wp-content/uploads/2018/05/ex0pl.jpg);
  /*background-image:url(./img/hero.jpg);*/
  background-size: cover;
  /*cover allow to set 100% of width to cover view port;*/
  background-position: top;
  /*top side of content stay same when you shrink browser smaller to big, or opposite*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0 20rem;
  font-size: 1.4rem; }
  @media (max-width: 56.2em) {
    .footer {
      padding: 8rem 0 50rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 10rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #eee;
    padding-top: 3rem;
    display: inline-block; }
    @media (max-width: 56.2em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .3s ease; }
  .footer__link:hover, .footer__link:active {
    color: #00D841;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #eee;
    padding-top: 3rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.2em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.section-about {
  background-color: #f7f7f7;
  padding: 30rem 0 60rem 0;
  margin-top: -20rem; }

.section-features {
  padding: 25rem 0;
  background-image: linear-gradient(to right, rgba(0, 216, 65, 0.7), rgba(123, 40, 232, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -15rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 30rem 0 55rem 0;
  background-color: #f7f7f7;
  margin-top: -10rem; }

.section-stories {
  padding: 15rem 0;
  background-color: #f7f7f7; }
