//colors
$color-green:#00D841;
$color-dark-green:#34b977;
$color-violet:#7B28E8;
$color-dark-grey:#777;
$color-white:#fff;
$color-black:#000;
$color-light-grey:#f7f7f7;
$color-orange:rgb(216, 126, 8);
$color-orange-dark:rgb(238, 117, 3);
$color-yellow:rgb(216, 196, 14);
$color-grey:#eee;
$color-blue:rgb(52, 62, 146);
$color-dark-blue:rgb(18, 7, 175);
$color-dark-grey-3:#333;
//FONT

$default-font-size:1.6rem;

//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;